<h1>ユーザー詳細情報</h1>

<br>
苗字：<%= @user_info.firstname %>
<br>
名前：<%= @user_info.lastname %>
<br>
郵便番号：<%= @user_info.zipcode %>
<br>
都道府県：<%= @user_info.prefecture_i18n %>
<br>
市区町村：<%= @user_info.city %>
<br>
番地：<%= @user_info.block %>
<br>
建物：<%= @user_info.building %>
<br>
電話番号：<%= @user_info.phone %>
<br>

<%= link_to "編集", edit_user_info_path(current_user) %><br>
