<h1>注文確認画面</h1>
<hr>

<%# if @cart_products.empty? %>

  <!-- <p>購入予定商品はありません</p> -->
  
<%# else %>

  <h2>購入予定商品</h2>
  <% total_price = 0 %>
  <% @cart.cart_products.where(status: true).each do |cart_product| %>
    <% product = cart_product.product %>
    <p>商品名：<%= product.name %></p>
    <p>単価：<%= product.price %></p>
    <p>数量：<%= cart_product.count %></p>
    <p>小計：<%= cart_product.count * product.price %></p>
  <% total_price += cart_product.count * product.price %>
  <% end %>
  <p>合計金額：¥<%= total_price %></p>
  <hr>

  <%= form_for(@order, url: orders_path) do |f| %>

    <% @order.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <li><%= message %></li>
      </div>
    <% end %>

    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :total_price, value: total_price %>

    <h2>送付先情報</h2>
    <p>性：<%= f.text_field :firstname %></p>
    <p>名：<%= f.text_field :lastname %></p>
    <p>郵便番号（ハイフンなし7桁）：<%= f.text_field :zipcode %></p>
    <p>都道府県：<%= f.select :prefecture, Order.prefectures_i18n.invert, include_blank: true %></p>
    <p>市区町村：<%= f.text_field :city %></p>
    <p>番地：<%= f.text_field :block %></p>
    <p>建物：<%= f.text_field :building %></p>
    <p>電話番号（ハイフンなし10桁または11桁）：<%= f.text_field :phone %></p>

    <hr>

    <h2>支払方法</h2>
    <%= f.select :payment_method, Order.payment_methods_i18n.invert %>

    <hr>

    <%= f.submit '注文確定' %>

  <% end %>

<%# end %>