<h1>購入履歴一覧</h1>

<hr>

<% if @order.empty? %>

  <p>購入履歴はありません</p>

<% else %>

  <% @order.each do |order| %>
    <p>注文日時：<%= order.created_at %></p>
    <p>注文ID：<%= order.id %></p>
    <p>購入商品：</p>
      <ul>
        <% order.order_products.each do |order_product| %>
          <li><%= order_product.product.name %></li>
          <li>¥<%= order_product.product.price %></li>
          <li><%= order_product.count %>個</li>
          <li>小計¥<%= order_product.sub_total %></li>
        <% end %>
      </ul>

    <p>合計金額：<%= order.total_price %></p>
    <p>支払方法：<%= order.payment_method_i18n %></p>
    <p>ー送付先情報ー</p>
    <p>名前：<%= order.firstname %><%= order.lastname %></p>
    <p>郵便番号：<%= order.zipcode %></p>
    <p>住所：<%= order.prefecture_i18n %><%= order.city %><%= order.block %><%= order.building %></p>
    <p>電話番号<%= order.phone %></p>

    <hr>

  <% end %>

<% end %>
