<h1>購入履歴</h1>

<% if @order.blank? %>
  <p>購入履歴はありません</p>
<% else %>
  <% @order.each do |order| %>
    <p>注文日時：<%= order.created_at %></p>
    <p>注文ID：<%= order.id %></p>
    <p>購入商品：<%= order.order_product.name %></p>
    <p>合計金額：<%= order.total_price %></p>
    <p>支払方法：<%= order.payment_method %></p>
    <hr>
  <% end %>
<% end %>
