<h1>買い物かご</h1>

<% unless @cart.blank? %>
  <% @cart.cart_products.where(status: true).each do |cart_product| %>
    <% product = cart_product.product %>
    <p>商品名：<%= product.name %></p>
    <p>単価：¥<%= product.price %></p>
    <p>数量：<%= cart_product.count %></p>
    <p>小計：¥<%= cart_product.count * product.price %></p>
    <% @total_price = cart_product.count * product.price %>
    <%= link_to "後で買う", status_change_path(cart_product.id), method: :patch %>
    <%= link_to "削除", cart_product_path(cart_product.id), method: :delete %>
    <hr>
  <% end %>
  合計金額：¥<%= @total_price %>
<% end %>

<%#= link_to "注文", orders_path, method: :post %><br />

<br>
<br>

<h2>後で買う</h2>

<% unless @cart.blank? %>
  <% @cart.cart_products.where(status: false).each do |cart_product| %>
    <% product = cart_product.product %>
    <p>商品名：<%= product.name %></p>
    <p>数量：<%= cart_product.count %></p>
    <p>金額：<%= cart_product.count * product.price %></p>
    <%= link_to "カートに戻す", status_change_path(cart_product.id), method: :patch %>
    <%= link_to "削除", cart_product_path(cart_product.id), method: :delete %>
    <hr>
  <% end %>
<% end %>