<h1><%= @category.name %></h1>


<br>

<%= paginate @products %>

<hr>



<% @products.each do |product| %>
  商品名：<%= product.name %>
  <br>
  金額：<%= product.price %>
  <br>
  <%= link_to "詳細", product_path(product.id) %>
  <hr>
<% end %>
