<% if user_signed_in? %>
  <p><%= current_user.nickname %>さんがログイン中</p>
<% end %>

<br>

<%#= link_to "トップページ", shop_top_path %><br>
<%= link_to "商品一覧", products_path %><br>

<% if user_signed_in? %>
  <%= link_to "買い物カゴ", cart_path(current_user.id) %><br>
  <%= link_to "購入履歴", order_path(current_user.id) %><br>
  <%= link_to "ユーザー情報", user_info_path(current_user.id) %><br>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
<% else %>
  <%= link_to "ユーザー登録", new_user_registration_path %><br />
  <%= link_to "ログイン", new_user_session_path %><br />
<% end %>